/* Estilos globales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

section.main-content {
    text-align: justify;
    padding: 50px;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos específicos para imágenes */

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
